@font-face {
    font-family: "Mulish";
    src: url(./fonts/Mulish-Black.ttf) format(truetype),
        url(./fonts/Mulish-Bold.ttf) format(truetype),
        url(./fonts/Mulish-ExtraBold.ttf) format(truetype),
        url(./fonts/Mulish-Regular.ttf) format(truetype);
}

@font-face {
    font-family: "Poppins";
    src: url(./fonts/Poppins-Medium.ttf) format(truetype);
}

* {
    font-family: "Mulish";
    margin: 0;
    padding: 0;
    font-style: normal;
}

body {
    width: 1200px;
    background-color: #F5F5F5;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 37px 0;
    align-items: center;
    width: 1200px;
}

header nav {
    display: flex;
}

.img-logo {
    background-image: url(./assets/Course\ topics.png);
    width: 124px;
    height: 38px;
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 90%;
}

header nav p {
    font: 700 16px 'Mulish';
    color: #001A49;
}

header nav p:not(:last-child) {
    margin-right: 25px;
}

.btn {
    background: linear-gradient(44.11deg, #8FBBE5 15.75%, #3D75BF 84.63%);
    border-radius: 33px;
    width: 147px;
    font: 700 16px 'Mulish';
    color: #FFFFFF;
    text-align: center;
    padding: 15px 0;
}

main {
    margin-top: 187px;
}

.intproductory {
    display: flex;
    justify-content: space-between;
}

.intproductory h1 {
    font: 800 60px 'Mulish';
    color: #001A49;
    margin-bottom: 20px;
}

.intproductory p {
    font: 400 20px 'Mulish';
    color: #4F596A;
    margin-bottom: 35px;
}

.intproductory div .button {
    background: linear-gradient(44.11deg, #8FBBE5 15.75%, #3D75BF 84.63%);
    border-radius: 33px;
    width: 206px;
    font: 700 16px 'Mulish';
    color: #FFFFFF;
    text-align: center;
    padding: 20px 0;
}

.wrapper {
    width: 537px;
}

.video {
    background-image: url(./assets/Group\ 7.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 590px;
    height: 360px;
    position: relative;
    left: 250px;
}

.statistic {
    margin-top: 200px;
}

.info {
    position: relative;
}

.info-text {
    display: flex;
    background: #FFFFFF;
    border: 1px solid #E7EAEB;
    border-radius: 21px;
    width: 100%;
    height: 172px;
    align-items: center;
    justify-content: space-around; 
    position: relative
}

.info-text {
    z-index: 2;
}

.info div:not(:last-child) {
    border-right: 1px solid #E7EAEB;
}

.info-text div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
}

.info-text div p {
    font: 400 16px 'Mulish';
    color: #4F596A;
}

.info-text div h2 {
    font: 800 40px 'Mulish';
    color: #001A49;
}

.oval {
    background-image: url(./assets/oval.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 288px;
    height: 288px;
    position: absolute;
    left: -50px;
    top: -25px;
    z-index: 1;
}

.advantages {
    margin-top: 194px;
}

.h1 {
    font: 800 46px 'Mulish';
    color: #001A49;
    width: 637px;
    height: 69px;
    margin: 0 389px 0 414px;
}

.p {
    font: 400 20px 'Mulish';
    color: #4F596A;
    margin: 0 444px 0 436px;
    text-align: center;
    margin-bottom: 61px;
}

.advantages .pros {
    background: #EEF7FF;
    mix-blend-mode: normal;
    border-radius: 21px;
    width: 1120px;
    height: 172px;
    display: flex;

}

.advantages .pros .logo {
    background-image: url(./assets/logotip.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 64px;
    height: 64px;
    margin: 39px 0 0 46px;
}

.advantages .pros .description h2 {
    font: 800 24px 'Mulish';
    color: #001A49;
    margin: 39px 0 0 20px;
}

.advantages .pros .description p {
    font: 400 16px 'Mulish';
    color: #4F596A;
    margin: 20px 0 0 20px;
}

.advantages .pros:not(:last-child) {
    margin-bottom: 30px;
}

.sign {
    margin-top: 122px;
}

.sign .logo-hs {
    background-image: url(./assets/Marico.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 190px;
    height: 85px;
    margin-left: 550px;
    margin-bottom: 30px;
}

.sign .up {
    text-align: center;
    margin-bottom: 30px;
    font: 800 50px 'Mulish';
    color: #001A49;
}

.sign .button-1 {
    background: linear-gradient(44.11deg, #8FBBE5 15.75%, #3D75BF 84.63%);
    border-radius: 33px;
    width: 206px;
    font: 700 16px 'Mulish';
    color: #FFFFFF;
    text-align: center;
    padding: 20px 0;
    margin: auto;
}

footer {
    margin-top: 129px;
}

.small {
    background-image: url(./assets/Marico.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 79px;
    height: 56px;
}

footer div {
    display: flex;
    justify-content: space-between;
}

.hs {
    font: 800 37px 'Mulish';
    color: #001A49;
    display: flex;
    align-items: center;
}

.off {
    font: 500 28px 'Poppins';
    color: #707070;
}

.email {
    font: 500 27px 'Mulish';
    color: #707070;
    margin-bottom: 85px;
}

@media screen and (max-width: 600px) {
    body {
        width: 100%;
    }

    header {
        width: 100%;
        max-width: 90%;
    }

    header nav {
        display: none;
    }

    main {
        margin-top: 50px;
    }

    .intproductory .video {
        display: none;
    }

    .intproductory h1 {
        font: 400 30px 'Mulish';
        margin-bottom: 10px;
        text-align: center;
    }

    .intproductory p {
        font: 200 10px 'Mulish';
        margin-bottom: 20px;
        text-align: center;
    }

    .intproductory div .button {
        width: 170px;
        margin: auto;
    }

    .wrapper {
        width: 100%;
    }

    .statistic .oval {
        display: none;
    }

    .statistic {
        margin-top: 70px;
    }

    .statistic .info {
        flex-direction: column;
        align-items: center;
        background-color: #F5F5F5;
        border-width: 0;
    }

    .info div:not(:last-child) {
        border-width: 0;
    }

    .advantages .pros {
        width: 600px;
    }

    .advantages {
        width: 600px;
        margin-top: 70px;
    }

    .advantages .h1 {
        width: 600px;
        font: 400 30px 'Mulish';
        width: 100%;
        margin: auto;
        text-align: center;
    }

    .advantages .p {
        font: 200 20px 'Mulish';
        width: 100%;
        margin: auto;
    }

    .pros .description h2 {
        text-align: center;
    }

    .pros .description p {
        text-align: center;
    }

    .logo {
        display: none;
    }

    footer {
        width: 100%;
    }

    .sign .logo-hs {
        display: none;
    }

    .small {
        display: none;
    }

    .hs {
        display: none;
    }

    .email {
        font: 500 20px 'Mulish';
        text-align: center;
    }

    footer div {
        justify-content: center;
    }
}